
<div class="husq-card-container">
    <div class="husq-card-content">

        <div class="husq-card-profile">
            <div class="husq-card-profile-container">
                <div class="husq-card-img">
                    <img class="profile-avatar" src="https://avatars.dicebear.com/api/gridy/{{ name }}.svg" alt="Avatar" />
                </div>
                <div class="husq-card-profile-content">
                    <h3>{{ name }}</h3>
                    <p>Profile Activated: {{ time.toLocaleDateString() }}</p>
                </div>
            </div>
        </div>

        <p class="husq-card-content-info">{{ message }}</p>
        <br>
        <p *ngFor="let reply of tempReplyList">
            {{ reply }}
        </p>
        <div class="husq-card-action">
            <input [(ngModel)]="tempReply" type="text" placeholder="Reply to {{ name }}" class="husq-input">
            <button (click)="saveReply()" class="husq-button">Submit</button>
        </div>
    </div>
</div>


