<div class="main-page-container">

  <!-- Left Column -->
  <div class="left-content-container auto-container-left">
    <!--Dynamic Title-->
    <div *ngIf="newsSources">
      <h1>Manage News Channels</h1>
    </div>

    <!-- Route to /news:id -->
    <p><a class="shimmer" [routerLink]="['/news', activeUserId]"> Back To Your News Feed -> </a></p>

    <!--List News Channels User is Subscribed to-->
    <app-news-source *ngFor="let newsSource of newsSources; trackBy: trackById" [newsSourceObj]="newsSource">
    </app-news-source>

  </div>

  <!-- Right Column -->
  <div class="right-content-container auto-container-right-2">
    <h1>Discover Channels</h1>
    <!-- News Outlets to Subscribe to-->
    <app-news-source *ngFor="let newsSource of discoverNewsChannels; trackBy: trackById" [newsSourceObj]="newsSource"
      [discoverNews]="true"></app-news-source>
  </div>

</div>