<nav class="navbar">
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
        <!-- NAVIGATION MENUS -->
        <div class="menu">
            <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
            <li><a href="/compose">Compose</a></li>
            <li><a routerLink="/friends" routerLinkActive="active">Friends</a></li>
            <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
        </div>
    </ul>
</nav>