<div class="husq-card-container">
    <div class="husq-card-content">
        <div class="husq-card-profile">
            <div class="husq-card-profile-container">
                <section *ngIf="currentWeather">

                    <div *ngIf="weatherImage" style="text-align: center; color: #5d9064;">
                        <i style="font-size: 100px;" class="wi {{weatherImage}}"></i>
                    </div>

                    <div *ngIf="currentWeather" style="display: flex;">
                        <p>
                            <span>High Temp:</span> <br>
                            {{ currentWeather?.daily?.temperature_2m_max[0] }} {{
                            currentWeather?.daily_units?.temperature_2m_max[0] }}
                        </p>

                        <br>

                        <p>
                            <span>Low Temp: </span> <br>
                            {{ currentWeather?.daily?.temperature_2m_min[0] }} {{
                            currentWeather?.daily_units?.temperature_2m_min[0] }}
                        </p>
                    </div>

                    <br>


                    <p>
                        <span>Weather: </span> <br>
                        {{ weatherCodeTransformed }}
                    </p>

                    <br>

                    <p>
                        <span>Max Wind Speed: </span> <br>
                        {{ currentWeather?.daily?.windspeed_10m_max[0] }} MPH
                    </p>

                    <br>

                    <p>
                        <span>Max Wind Gust: </span> <br>
                        {{ currentWeather?.daily?.windgusts_10m_max[0] }} MPH
                    </p>

                </section>
            </div>
        </div>
    </div>
</div>