<nav class="navbar">
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
        <!-- NAVIGATION MENUS -->
        <div class="menu">

            <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Chat</a></li>

            <!-- <div *ngIf="userActive">
            <li><a routerLink="/compose" routerLinkActive="active">Compose</a></li>
            </div> -->

            <div *ngIf="userActive">
                <li><a [routerLink]="['/friends', userActive.id]" routerLinkActive="active">Friends</a></li>
            </div>

            <div *ngIf="!userActive">
                <li><a [routerLink]="['/users']" routerLinkActive="active">Users</a></li>
            </div>

            <div *ngIf="userActive">
                <li><a [routerLink]="['/user-list', userActive.id]" routerLinkActive="active">Users</a></li>
            </div>

            <div *ngIf="userActive">
                <li><a [routerLink]="['/profile', userActive.id]" routerLinkActive="active">Profile</a></li>
            </div>

            <div *ngIf="userActive">
                <li><a [routerLink]="['/auth/logout']" routerLinkActive="active">Logout</a></li>
            </div>

            <div *ngIf="!userActive">
                <li><a [routerLink]="['/sign-up']" routerLinkActive="active">Sign Up</a></li>
            </div>

            <div *ngIf="!userActive">
                <li><a [routerLink]="['/auth/login']" routerLinkActive="active">Login</a></li>
            </div>
        </div>
    </ul>
</nav>