<nav class="navbar">
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
        <!-- NAVIGATION MENUS -->
        <div class="menu">

            <div *ngIf="userActive">
                <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Chat</a></li>
            </div>

            <div *ngIf="userActive">
                <li><a [routerLink]="['/friends', userActive]" routerLinkActive="active">Friends</a></li>
            </div>

            <div *ngIf="userActive">
                <li><a [routerLink]="['/news', userActive]" routerLinkActive="active">News</a></li>
            </div>

            <div *ngIf="userActive">
                <li><a [routerLink]="['/profile', userActive]" routerLinkActive="active">Profile</a></li>
            </div>

            <div *ngIf="userActive">
                <li><a [routerLink]="['/auth/logout']" routerLinkActive="active">Logout</a></li>
            </div>
        </div>


    </ul>

    <!-- NAVIGATION MENU -->
    <ul  *ngIf="!userActive" class="nav-links">
        <div style="display: flex; margin-right: 0 !important; " *ngIf="!userActive">
            <li style="margin-right: 2em;"><a [routerLink]="['/auth/login']" routerLinkActive="active">Login</a></li>
            <li><a [routerLink]="['/sign-up']" routerLinkActive="active">Sign Up</a></li>
        </div>
    </ul>
</nav>