<div class="main-page-container">
    
    <div class="left-content-container">
        <i id="custom-fa" class="fa fa-comments"></i>
        <app-footer></app-footer>
    </div>

    <div class="content-class">
        <h1>Chat Feed</h1>
        <!-- <app-husq *ngFor="let husq of husqs" name={{husq.name}} message={{husq.message}}></app-husq> -->
        <app-timeline></app-timeline>
    </div>

    <div class="right-content-container">
        <h1>Add News Articles</h1>
        <app-news-timeline></app-news-timeline>
        <!-- <app-news></app-news>
        <app-news></app-news>
        <app-news></app-news>
        <app-news></app-news>
        <app-news></app-news>
        <app-news></app-news> -->
    </div>

</div>