<div class="main-page-container">

    <div class="left-content-container">
    </div>

    <div class="content-class page-not-found">
        <div class="husq-card-profile">
            <div class="husq-card-profile-container">
                <div class="husq-card-img husq-profile-image">
                </div>
                <div class="husq-card-profile-content">
                </div>
            </div>
        </div>
        <div class="">
            <h1 style="text-align: center" class="husq-card-content-info-profile"><span>Page Not Found!</span> </h1>
            <hr>
        </div>
        <div class="husq-card-action">
        </div>
    </div>

    <div class="right-content-container">

    </div>

</div>