<div *ngIf="userObj && userObj.id !== userActive?.id" class="husq-card-container">
    <div class="husq-card-content">

        <div class="husq-card-profile">
            <div class="husq-card-profile-container">
                <div class="husq-card-img">
                    <img class="profile-avatar" src="https://avatars.dicebear.com/api/gridy/{{ userObj.name }}.svg"
                        alt="Avatar" />
                </div>

                <div class="husq-card-profile-content">
                    <h3>{{ userObj.name }}</h3>
                </div>
            </div>
            <div *ngIf="userActive">
                <button (click)="removeUser()" class="husq-btn-delete">&times;</button>
            </div>
        </div>

        <hr>

        <div class="husq-card-content-info">
            <p>User Id: {{ userObj.id }}</p>

            <p>{{ userObj.message }}</p>

            <p class="padding-top-medium">
                <span>Location: </span>{{ userObj.location }}
            </p>

            <div *ngIf="userActive">
                <div style="float: right;" class="husq-card-action-no-flex">
                    <button (click)="addUsersFriend()">Add Friend</button>
                </div>
            </div>
            
        </div>


    </div>
</div>