<div class="main-page-container">
    
    <div class="left-content-container">
        <i id="custom-fa" class="fa fa-comments"></i>
        <app-footer></app-footer>
    </div>


    <div class="content-class">
        <h1 >Your Friends List</h1>
        <app-friend *ngFor="let friend of friends; trackBy: trackById" [friendObj]="friend"></app-friend>
    </div>


    <div class="right-content-container">
        <h1 >Users List</h1>
        <app-friend *ngFor="let friend of potentialFriends; trackBy: trackById" [friendObj]="friend" [isPotential]="true"></app-friend>
    </div>

</div>
