<div class="main-page-container">
    <div class="content-class">
      <div class="husq-card-container">
        <div class="husq-card-content">
          <div class="husq-card-profile">
            <div class="husq-card-profile-container">
              <div class="husq-card-profile-content">
                <div class="husq-card-action-no-flex">
                  <h2>Sign Up</h2>
                  <br><br>

                  <form *ngIf="registerForm" [formGroup]="registerForm" (ngSubmit)="addUser()">
                  
                  <br><br>
                  <label for="title">
                    Email:
                  </label>

                  <input type="text" id="email" formControlName="email">
                  <br>
                  <div *ngIf="registerForm.invalid  && (email?.dirty || email?.touched)">
                    <span *ngIf="email?.errors?.['required']">Email is required</span>
                  </div>


                  <br><br>
                  <label for="title">
                    Password:
                  </label>

                  <input type="text" id="password" formControlName="password">
                  <br>
                  <div *ngIf="registerForm.invalid  && (password?.dirty || password?.touched)">
                    <span *ngIf="password?.errors?.['required']">Email is required</span>
                  </div>



                  <br><br>
                  <label for="title">
                    Username:
                  </label>

                  <input type="text" id="name" formControlName="name">
                  <br>
                  <div *ngIf="registerForm.invalid  && (name?.dirty || name?.touched)">
                    <span *ngIf="name?.errors?.['required']">name is required</span>
                  </div>


                  <br><br>
                  <label for="title">
                    Message:
                  </label>

                  <input type="text" id="message" formControlName="message">
                  <br>
                  <div *ngIf="registerForm.invalid  && (message?.dirty || message?.touched)">
                    <span *ngIf="message?.errors?.['required']">Message is required</span>
                  </div>


                  <br><br>
                  <label for="title">
                    Location:
                  </label>

                  <input type="text" id="location" formControlName="location">
                  <br>
                  <div *ngIf="registerForm.invalid  && (location?.dirty || location?.touched)">
                    <span *ngIf="location?.errors?.['required']">location is required</span>
                  </div>

         
                  <div class="husq-card-action-no-flex">
                    <button>Add User</button>
                  </div>

                </form>
                </div>
  

  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>