<div class="main-page-container">
    <div class="content-class">
      <div class="husq-card-container">
        <div class="husq-card-content">
          <div class="husq-card-profile">
            <div class="husq-card-profile-container">
              <div class="husq-card-profile-content">
                <div class="husq-card-action-no-flex">
                  <h2>Add a New User</h2>
                  <br><br>
                  <label for="title">
                    First Name | Last Name
                  </label>
                  <input [(ngModel)]="name" type="text" placeholder="First Name  Last Name" class="husq-input">
  
                  <br><br>
                  <label for="title">
                    Your Description
                  </label>
                  <input [(ngModel)]="message" type="text" placeholder="Tell us about yourself... " class="husq-input">
  
                  <br><br>
                  <label for="title">
                    City, State
                  </label>
                  <input [(ngModel)]="location" type="text" placeholder="City, State" class="husq-input">
                </div>
  
                <div class="husq-card-action-no-flex">
                  <button (click)="addUser()">Add User</button>
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>