<div class="main-page-container">
    <div class="content-class">
      <div class="husq-card-container">
        <div class="husq-card-content">
          <div class="husq-card-profile">
            <div class="husq-card-profile-container">
              <div class="husq-card-profile-content">
                <div class="husq-card-action-no-flex">
                  <h2>Login</h2>
                  <br><br>
  
                  <br><br>
                  <label for="title">
                    Username:
                  </label>
                  <input  type="text" placeholder="username" class="husq-input">
  
                  <br><br>
                  <label for="title">
                    Password:
                  </label>
                  <input type="text" placeholder="password" class="husq-input">
                </div>
  
                <div class="husq-card-action-no-flex">
                  <button >Login</button>
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
