<!-- <div class="main-page-container">


    <div class="left-content-container">
        <i id="custom-fa" class="fa fa-comments"></i>
        <app-footer></app-footer>
    </div>


    <div class="content-class">
        <div *ngIf="users.length === 1">
            <h1>We Ran Out Of Users...</h1>
        </div>
        <div *ngIf="users.length > 1">
            <h1>All Users</h1>
            <app-user *ngFor="let user of users; trackBy: trackById" [userObj]="user"></app-user>
        </div>
        
    </div>


    <div class="right-content-container">

    </div>

    
</div> -->