<div class="main-page-container">
    <div class="left-content-container">
        <i id="custom-fa" class="fa fa-comments"></i>
        <app-footer></app-footer>
    </div>

    <div *ngIf="profile" class="content-class">
        <h1>{{profile.name}}'s Profile</h1>
        <div class="husq-profile-container">
            <div class="husq-card-content">
                <div class="husq-card-profile">
                    <div class="husq-card-profile-container">
                        <div class="husq-card-img husq-profile-image">
                            <img class="profile-avatar" src="https://avatars.dicebear.com/api/gridy/{{ profile.name }}.svg"
                                alt="Avatar" />
                        </div>
                        <div class="husq-card-profile-content">
                            <h3>{{ profile.name }}</h3>
                            <p class="date-active">About: <span class="white-text">{{ profile.message }}</span></p>
                        </div>
                    </div>
                </div>
                <div class="profile-location">
                    <hr>
                    <p class="husq-card-content-info-profile"><span>Location:</span> {{ profile.location }} </p>
                </div>

                <div class="husq-card-action">
                </div>
            </div>
        </div>
    </div>

    <div class="right-content-container">
        <h1>Add News Articles</h1>
        <app-news-timeline></app-news-timeline>
    </div>

</div>