<div *ngIf="friendObj" class="husq-card-container">
    <div class="husq-card-content">
        <div class="husq-card-profile">
            <div class="husq-card-profile-container">
                <div class="husq-card-img">
                    <img class="profile-avatar" src="https://avatars.dicebear.com/api/gridy/{{ friendObj.name }}.svg"
                        alt="Avatar" />
                </div>
                <div class="husq-card-profile-content">
                    <h3>{{ friendObj.name }}</h3>
                    <p>Profile Activated:
                        <span style="color: white;">{{ time.toLocaleDateString() }}</span>
                    </p>
                </div>
            </div>

            <button (click)="removeFriend()" class="husq-btn-delete">&times;</button>
        </div>
        <hr>
        <div class="husq-card-content-info">
            <p>{{ friendObj.message }}</p>
            <p class="padding-top-medium">
                <span>Location: </span>{{ friendObj.location }}
            </p>
        </div>
        <div class="husq-card-action-no-flex">
            <button (click)="routeToFriendProfile()">Profile</button>
        </div>
    </div>
</div>