<!-- if not current user -->
<div *ngIf="friendObj" class="husq-card-container">

    <div class="husq-card-content">

        <!-- friends Profile Image and Name-->
        <div class="husq-card-profile">
            <div class="husq-card-profile-container">
                <div class="husq-card-img">
                    <img class="profile-avatar" src="https://avatars.dicebear.com/api/gridy/{{ friendObj.name }}.svg"
                        alt="Avatar" />
                </div>
                <div class="husq-card-profile-content">
                    <h3>{{ friendObj?.name}}</h3>
                </div>
            </div>

            <!--Remove Friend-->
            <div *ngIf='!isPotential'>
                <button (click)="removeFriend(friendObj.id)" class="husq-btn-delete">&times;</button>
            </div>

        </div>

        <hr>

        <!-- Friends Message and Location-->
        <div class="husq-card-content-info">
            <p>{{ friendObj.message }}</p>
            <p class="padding-top-medium">
                <span>Location: </span>{{ friendObj.location }}
            </p>
        </div>

        <!--Add Friend-->
        <div *ngIf='isPotential' style="float: right;" class="husq-card-action-no-flex">
            <button (click)="addUsersFriend()">Add Friend</button>
        </div>

        <!--View Friend Profile-->
        <div *ngIf='!isPotential' style="float: right;" class="husq-card-action-no-flex">
            <button (click)="navigateToUser()">View Profile</button>
        </div>


    </div>
</div>