<div class="husq-card-container">
    <div class="husq-card-content">

        <div class="husq-card-profile">
            <div class="husq-card-profile-container">
                <div class="husq-card-img">
                    <img class="profile-avatar" src="https://avatars.dicebear.com/api/gridy/{{ name }}.svg"
                        alt="Avatar" />
                </div>
                <div class="husq-card-profile-content">
                    <h3>{{ name }}</h3>
                    <p>Profile Activated: 
                    <span style="color: white;">{{ time.toLocaleDateString() }}</span></p>
                </div>
            </div>
        </div>
        <hr>
        <div class="husq-card-content-info">
            <p>{{ message }}</p>
            <p class="padding-top-medium">
                <span>Location: </span>{{ location }}
            </p>
        </div>
        <!-- <div class="husq-card-action">
        </div> -->
    </div>
</div>