<div *ngIf="husqObj" class="husq-card-container husq">
    <div class="husq-card-content">
        <div class="husq-card-profile">
            <div class="husq-card-profile-container">
                <div class="husq-card-img">
                    <img class="profile-avatar" src="https://avatars.dicebear.com/api/gridy/{{ husqObj.id }}.svg"
                        alt="Avatar" />
                </div>
                <div class="husq-card-profile-content">
                    <h3>{{ husqObj.id | username }}</h3>
                    <p><span >Profile Activated: </span> {{ husqObj.time | date: "MMM dd, YYYY h:mm a" }}</p>
                </div>
            </div>

            <div *ngIf="husqObj.id === userActive">
                <button (click)="removeHusq()" class="husq-btn-delete">&times;</button>
            </div>
        </div>

        <p class="husq-card-content-info">{{ husqObj.message }}</p>
        <div style="float: right;" class="husq-card-action husq-card-content-info">
            <!-- <input [(ngModel)]="tempReply" type="text" placeholder="Reply to {{ husqObj.userId }}" class="husq-input"> -->


            <div>
                <span (click)="viewHusqComment()" style="width: 100%;" *ngIf="replyCount" class="husq-comment-count">{{ replyCount }} comment{{replyCount > 1 ? 's' : ''}}</span>
            </div>
            

            <app-like-button (likeEvent)="addLike()"></app-like-button>

            <div>
                <button (click)="replyToHusq()" class="husq-button">View Comments</button>
            </div>

        </div>
    </div>
</div>