<div *ngIf="husqObj" class="husq-card-container husq">
    <div class="husq-card-content">
        <div class="husq-card-profile">
            <div class="husq-card-profile-container">
                <div class="husq-card-img">
                    <img class="profile-avatar" src="https://avatars.dicebear.com/api/gridy/{{ husqObj.id }}.svg"
                        alt="Avatar" />
                </div>
                <div class="husq-card-profile-content">
                    <h3>{{ husqObj.id | username }}</h3>
                    <p><span>Profile Activated: </span> {{ husqObj.time | date: "MMM dd, YYYY h:mm a" }}</p>
                </div>
            </div>

            <div *ngIf="husqObj.id === userActive">
                <button (click)="removeHusq()" class="husq-btn-delete">&times;</button>
            </div>
        </div>

        <p style="padding-left: 12%;" class="husq-card-content-info">{{ husqObj.message }}</p>
        <!-- <input [(ngModel)]="tempReply" type="text" placeholder="Reply to {{ husqObj.userId }}" class="husq-input"> -->


        <div>

            <div style="float: right;" class="husq-card-action">
                <div>
                    <app-like-button (likeEvent)="addLike()"></app-like-button>
                </div>
                <div>
                    <span *ngIf="countLikes()" class="husq-count">{{ countLikes() }} shucks</span>
                </div>
                <div>
                    <div>
                        <button (click)="viewHusqComment()" *ngIf="replyCount"
                            class="husq-button">{{ replyCount }} comment{{replyCount > 1 ? 's' : ''}}</button>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>