<div *ngIf="husqObj" class="husq-card-container husq">
    <div class="husq-card-content">
        <div class="husq-card-profile">
            <div class="husq-card-profile-container">
                <div class="husq-card-img">
                    <img class="profile-avatar" src="https://avatars.dicebear.com/api/gridy/{{ husqObj.name }}.svg"
                        alt="Avatar" />
                </div>
                <div class="husq-card-profile-content">
                    <h3>{{ husqObj.name }}</h3>
                    <p>Profile Activated: {{ husqObj.time.toLocaleDateString() }}</p>
                </div>
            </div>

            <div *ngIf="userActiveId">
                <button (click)="removeHusq()" class="husq-btn-delete">&times;</button>
            </div>
        </div>

        <p class="husq-card-content-info">{{ husqObj.message }}</p>
        <p *ngFor="let r of reply">
            {{ r }}
        </p>
        <div class="husq-card-action">
            <input [(ngModel)]="tempReply" type="text" placeholder="Reply to {{ husqObj.name }}" class="husq-input">
            <button (click)="saveReply()" class="husq-button">Submit</button>
        </div>
    </div>
</div>